<div style="width: 15em">
{{#bs-nav type='pills' stacked='1' as |nav|}}
  {{#nav.item}}{{#nav.link-to "nodes"}}Nodes{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "resources"}}Resources{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "fences"}}Fence Devices{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "properties"}}Cluster Properties{{/nav.link-to}}{{/nav.item}}
{{/bs-nav}}
</div>
