<div>
  <h3>Navigation ({{selected}})</h3>
  <ul>
    <li>{{#main-navigation-item selected=selected link='properties'}}Cluster Properties{{/main-navigation-item}}</li>
    <li>{{#main-navigation-item selected=selected link='nodes'}}Nodes{{/main-navigation-item}}</li>
    <li>{{#main-navigation-item selected=selected link='resources'}}Resources{{/main-navigation-item}}</li>
  </ul>
</div>
