{{#each data as |item|}}
  {{#unless item.resources}}
    <li> {{menu-item title=item.name component=item componentId=item.id status=item.status onCheckAction=(action onCheckAction) onClickAction=(action onClickAction)}} </li>
  {{else}}
    <li>
      {{#menu-item title=item.name isCollapsable=true component=item componentId=item.id status=item.status onCheckAction=(action onCheckAction) onClickAction=(action onClickAction)}}
        <ul>
          {{menu-list data=item.resources onCheckAction=(action onCheckAction) onClickAction=(action onClickAction)}}
        </ul>
      {{/menu-item}}
    </li>
  {{/unless}}
{{/each}}
