@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "ember-bootstrap/bootstrap";
@import 'ember-power-select';

.x-toggle-component, .save-button {
  display: flex;
  justify-content: flex-end;
}

/* Label and form on the same line */
.form-control {
  min-width: 10em;
  width: unset;
  display: unset;
}

/* ember-power-select-multiple is on a different line */
.custom-field .form-control {
  display: block;
  padding: 0;
  height: unset;
}

.form-group label {
  width: 10em;
  text-align: right;
}

.selected-line {
  background-color: #F7F7F7;
  color: blue;
}
