<div style="width: 100%; text-align: left; margin-bottom: 1em">
  {{#bs-button}}
    {{#link-to 'resources.create'}}Add{{/link-to}}
  {{/bs-button}}
  {{#bs-button onClick=(route-action 'removeSelectedResources')}}
    <a name="remove">Remove <span class="badge">{{model.selectedResources.length}}</span></a>
  {{/bs-button}}
  {{#bs-button}}
    {{#link-to 'resources.createGroup'}}Add Group{{/link-to}}
  {{/bs-button}}
</div>

{{menu-header
  title=''
  data=model.cluster.firstObject.resources
  isCollapsed=false
  targetRoute='resources.show'
  onCheckAction=(route-action 'onCheck')
}}
